.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

.text-bold{
  font-weight: 700;
}

.text-italic{
  font-style: italic;
}

.text-small{
  font-size: 80%;
}

.no-padding{
  padding: 0 !important;
}

.no-padding-top{
  padding-top: 0 !important;
}

.no-padding-bottom{
  padding-bottom: 0 !important;
}

img.alignright {float:right; margin:0 0 1em 1em}
img.alignleft {float:left; margin:0 1em 1em 0}
img.aligncenter {display: block; margin-left: auto; margin-right: auto}
a img.alignright {float:right; margin:0 0 1em 1em}
a img.alignleft {float:left; margin:0 1em 1em 0}
a img.aligncenter {display: block; margin-left: auto; margin-right: auto}

html.overflow-hidden{
  overflow: hidden;
}