//#Mixins

  //#Media Queries
    $breakpoints: (
      'tiny':     ( max-width:  320px ),
      'small':    ( min-width:  360px ),
      'medium':   ( min-width:  480px ),
      'xmedium':  ( min-width:  720px ),
      'large':    ( min-width:  960px ),
      'xlarge':   ( min-width: 1200px ),
      'xxlarge':  ( min-width: 1400px ),
      'xxxlarge': ( min-width: 1900px )
    );

    @mixin bp($name) {
      @if map-has-key($breakpoints, $name) {
        @media #{inspect(map-get($breakpoints, $name))} {
          @content;
        }
      }
      @else {
        @warn "Couldn't find a breakpoint named `#{$name}`.";
      }
    }

  //#Transitions
    @mixin transition-delay($time){
      -webkit-transition-delay: $time;
      -moz-transition-delay: $time;
      -ms-transition-delay: $time;
      -o-transition-delay: $time;
      transition-delay: $time;
    }

    @mixin transition($property, $time) {
      -webkit-transition: $property $time cubic-bezier(.4,0,1,1);
      -moz-transition: $property $time cubic-bezier(.4,0,1,1);
      -o-transition: $property $time cubic-bezier(.4,0,1,1);
      transition: $property $time cubic-bezier(.4,0,1,1);
    }

    @mixin transitionEaseOut($property, $time) {
      -webkit-transition: $property $time cubic-bezier(0.19, 1, 0.22, 1);
      -moz-transition: $property $time cubic-bezier(0.19, 1, 0.22, 1);
      -o-transition: $property $time cubic-bezier(0.19, 1, 0.22, 1);
      transition: $property $time cubic-bezier(0.19, 1, 0.22, 1);
    }

  //#BEMy
    @mixin element($name) {
      @at-root #{&}__#{$name} {
        @content;
      }
    }

    @mixin modifier($name) {
      @at-root #{&}--#{$name} {
        @content;
      }
    }