/**
 * Baunovo
 *
 * Copyright (c) BAUNOVO
 */

@charset "UTF-8";

//#Variables

  $color-white:         #fff;
  $color-black:         #444;
  $color-primary:       #444;
  $color-secondary:     #ED2224;

  $border:              1px solid rgba(0,0,0,0.2);
  $border-transparent:  1px solid transparent;
  $border-red:          1px solid #ED2224;
  $border-white:        1px solid #fff;
  $border-black:        1px solid #000;

  $font-primary:        Helvetica, Arial, sans-serif;
  $font-secondary:      Georgia, serif;

//#Imports
  @import 'mixins';
  @import 'resets';
  @import 'helpers';
  @import 'initial';


body {
  
}
